/**, *::before, *::after, html, body {
  border: 1px dotted blue;
}*/

body {
  background-color: #001921;
  width: 100vw
}


/* header */
header {
  content: "";
  position: fixed;
  width: 100%;
  display: block;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  align-items: center;
  margin: 1rem;
  
}
nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline-block;
  margin: 0rem 0.5rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #001921;
  border-radius: 1rem;
}

a {
  color:#ed9e14;
  text-decoration: none;
  font-weight: 600;
}         /* Unvisited link  */

a:visited {color:#ed9e14;} /* Visited link    */
a:hover {color:#ebc0a6;}   /* Mouse over link */
a:active {
  color:#fefffe;
  text-decoration: underline;
  text-decoration-color: #2ea8db;
  text-decoration-thickness: 3px;
}  /* Selected link   */

/*main*/
main {
  margin: 0 8%;
}

@media only screen and (max-width: 1000px) {
 main{ 
  margin: 0 2%;
 }
}

/*@media only screen and (max-width: 770px) {
  main{
    margin: 0 0.5rem;
  }
}*/



/*banner*/

.banner::before {
  content: "";
  display: block;
  height: 4rem;
}
.banner, .about, .projects, .experience {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

/*banner center*/
.bannercenter {
  max-width: 60rem;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}
.smallWidth {
  max-width: 40rem;
}

/* Font styling*/
.banner p {

  color: #ed9e14;
}
p {
  font-size: 1.3rem;
  color: #fefffe;
  line-height: 1.1;
}

h1, h2, h3, p, main ul {
  margin: 1rem;
} 

h1 {
  color: #ebc0a6;
  font-size: 1.2rem;
}
h2 {
  color: #ed9e14;
  font-size: 3.5rem;
  font-weight: bold;
}
.banner h2 {
  font-size: 5rem;
}
h3 {
  font-size: 1.5rem;
  color: #ebc0a6;
}

.about {
  display: flex;
  flex-direction: row-reverse;
}

.about .imgbox,
.about .textbox {
  width: 50%;
}

.about li {
  color: #fefffe;
  list-style-position: inside;
  list-style-type: disc;
  font-size: 1.3rem;
}
.rboxes{
  display: flex;
  width: 100%;
  margin: 2rem;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.lboxes{
  display: flex;
  width: 100%;
  margin: 2rem;
  justify-content: space-between;
}

.rboxes .textbox,
.rboxes .imgbox,
.lboxes .textbox,
.lboxes .imgbox {
  width: 50%;
}


.lboxes img,
.rboxes img {
  max-width: 100%;
}


.about .center {
  display: flex;
  flex-direction: row-reverse;
}


.about img{
  max-width: 100%;
}

.center {
  max-width: 60rem;
  margin: auto;
  flex: 1;
}



/* footer */
footer {
  text-align: center;
}